*{margin: 0;padding: 0;list-style: none;text-decoration: none; box-sizing: border-box;}

#header{width: 100%;height: 64px;border-bottom: 1px solid #666;}
#body{height: 100vh;max-width: 1024px;width: 100%; margin: 0 auto;}
#footer{width: 100%;height: 80px;background-color: rgb(141, 149, 149);display: flex;justify-content: center;align-items: center; position: fixed;bottom: 0;right: 0;left: 0;}

#header-area{max-width: 1024px;width: 100%; height: 100%;display: flex;align-items: center;margin: 0 auto;justify-content: space-between;}
#header-area img{width: 128px;}
#body h1{margin-top: 20px;}
#banner{max-height: 300px;height: 100%;}
#banner > img{width: 100%;}

#product-list{display: flex;flex-wrap: wrap; justify-content: space-between;margin-top: 30px;}
.product-card{width: 180px;/* height: 310px; */border: 1px solid rgba(230,230,230,1);margin-bottom: 12px;position: relative;}
.product-blur{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffffaa;
    pointer-events: none;
}
.product-link{color: #333;}
.product-card .product-img{width: 100%;height: 210px;object-fit: contain;}/* 종횡비 맞춰서 이쁘게 들어오게끔 */
.product-card .product-contents{padding: 8px;display: flex;flex-direction: column;}
.product-card .product-contents .product-name{font-size: 14px;color: #666;}
.product-card .product-contents .product-price{margin-top: 5px;font-weight: 600;}
.product-card .product-contents .product-footer{display: flex; justify-content: space-between; align-items: center; margin-top: 10px;}
.product-card .product-contents .product-seller{display: flex;align-items: center;}
.product-card .product-contents .product-date{font-size: 12px; color: #8a8a8a;}
.product-card .product-contents .product-seller .product-avatar{width: 24px;margin-right: 5px;}
.product-card .product-contents .product-seller > span{font-size: 14px;color: #666;}

#footer > a{padding: 20px;color: #333;}

@media screen and (max-width:1024px) {
    #header{padding: 0 11px;}
    #body{padding: 0 11px;}
}
@media screen and (max-width:400px) {
    .product-card{
        width: 160px !important;
    }
    #header{padding: 0 8px;}
    #body{padding: 0 8px;}
    #product-list{justify-content: space-around;}
}